@font-face {
  font-family: 'Lato';
  src: local('Lato'), url('/fonts/Lato-Regular.ttf');
  weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url('/fonts/Lato-Italic.ttf');
  weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Monaspace Neon';
  src: local('Monaspace Neon'), url('/fonts/MonaspaceNeon-Regular.woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * { */
/*   font-feature-settings: "salt" on; */
/* } */
